# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.ds_store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
redflix-iptv-3d47b-firebase-adminsdk-fbsvc-ca8f0cd6f6.json

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
